.stoneback {
  background: goldenrod;
  background-image: url("img/stoneback.png");
}

.starback {
  background: purple;
  background-image: url("img/starback.png");
}

.fireback {
  background: red;
  background-image: url("img/fireback.png");
}

.waveback {
  background: lightseagreen;
  background-image: url("img/waveback.png");
}

.royalback {
  background: green;
  background-image: url("img/royalback.png");
}

.serpentback {
  background: black;
  background-image: url("img/serpentback.png");
}

.shipback {
  background: orange;
  background-image: url("img/shipback.png");
}

.lorec {
  background-image: url("img/lorec-web.png");
}

.anderon {
  background-image: url("img/anderon-web.png");
}

.aurielle {
  background-image: url("img/aurielle-web.png");
}

.bastard {
  background-image: url("img/bastard-web.png");
}

.suillir {
  background-image: url("img/suil-lir-web.png");
}

.fenella {
  background-image: url("img/fenella-web.png");
}

.roichard {
  background-image: url("img/roichard-web.png");
}

.cethlenn {
  background-image: url("img/cethlenn-web.png");
}

.ophelia {
  background-image: url("img/ophelia-web.png");
}

.borel {
  background-image: url("img/borel-web.png");
}

.ciara {
  background-image: url("img/ciara-web.png");
}

.bevin {
  background-image: url("img/bevin-web.png");
}

.alaric {
  background-image: url("img/alaric-web.png");
}

.pauol {
  background-image: url("img/pauol-web.png");
}

.liabelle {
  background-image: url("img/liabelle-web.png");
}

.diolinda {
  background-image: url("img/diolinda-web.png");
}

.oberon {
  background-image: url("img/oberon-web.png");
}

.queen,
.eirashaol {
  background-image: url("img/eirashaol-web.png");
}

.mikaya {
  background-image: url("img/mikaya-web.png");
}

.pyson {
  background-image: url("img/pyson-web.png");
}
.ava {
  background-image: url("img/eva-web.png");
}

.velka {
  background-image: url("img/velka-web.png");
}
.fina {
  background-image: url("img/fina-web.png");
}
.milesia {
  background-image: url("img/milesia-web.png");
}

.samson {
  background-image: url("img/samson-web.png");
}

.dworkin {
  background-image: url("img/dworkin-web.png");
}
.gramble {
  background-image: url("img/gramble.png");
  background-size: cover;
}

.salem {
  background-image: url("img//salem.png");
  background-size: cover;
}
.edward {
  background-image: url("img//edward.png");
  background-size: cover;
}
.arlan {
  background-image: url("img//arlan.png");
  background-size: cover;
}
.richard {
  background-image: url("img//richard.png");
  background-size: cover;
}
.ilyana {
  background-image: url("img//ilyana.png");
  background-size: cover;
}
.desdemona {
  background-image: url("img//desdemona.png");
  background-size: cover;
}
.rockscomb {
  background-image: url("img//rockscomb.png");
  background-size: cover;
}
.kahlverian {
  background-image: url("img//kahlverian.png");
  background-size: cover;
}
.firestone {
  background-image: url("img//firestone.png");
  background-size: cover;
}
.pyson {
  background-image: url("img//pyson.png");
  background-size: cover;
}
.mikaya {
  background-image: url("img//mikaya.png");
  background-size: cover;
}
.galina {
  background-image: url("img//galina.png");
  background-size: cover;
}
.samson {
  background-image: url("img//samson.png");
  background-size: cover;
}
.strowan {
  background-image: url("img//strowan.png");
  background-size: cover;
}
.simon {
  background-image: url("img//simon.png");
  background-size: cover;
}
.irina {
  background-image: url("img//irina.png");
  background-size: cover;
}
.richeza {
  background-image: url("img//richeza.png");
  background-size: cover;
}
.prudence {
  background-image: url("img//prudence.png");
  background-size: cover;
}
.wesley {
  background-image: url("img//wesley.png");
  background-size: cover;
}
.lucatiel {
  background-image: url("img//lucatiel.png");
  background-size: cover;
}
.zhao {
  background-image: url("img//zhao.png");
  background-size: cover;
}
.almasi {
  background-image: url("img//almasi.png");
  background-size: cover;
}
