body {
  margin: 50px;
  font-family: "PT Serif", serif;
  color: whitesmoke;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  color: whitesmoke;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: max(0.5rem 1.5rem);
}

a {
  color: lightblue;
}

a:active {
  color: violet;
}
