.weird {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}

.noncarousel {
  display: grid;
  grid-template-columns: repeat(8, 200px);
  gap: 1rem;
  height: 90vh;
}

.cardcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(8, 200px);
  grid-template-rows: repeat(3, 300px);
  border: 1px solid yellow;
  list-style: none;
  gap: 1rem;
  width: 100%;
  grid-auto-flow: column;
}

.even {
  grid-row: 2 / 4;
}

.odd1 {
  grid-row: 1/ 3;
}

.odd2 {
  grid-row: 3 / 5;
}

.carousel li {
  border: 1px solid yellow;
}

img {
  display: block;
  height: 250px;
  /* width: 200px; */
  aspect-ratio: 3 /2;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 5px;
}
