body {
  margin: 50px;
  /* background-color: #444; */
  /* background-image: url(img/clothback.png); */
}

.gridbox {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 3rem;
  margin-top: 4rem;
}

.cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  font-size: 150%;
  font-family: "Aboreto", cursive;
  text-align: center;

  padding: 1.5rem 0.5rem 1rem 0.5rem;
  box-sizing: border-box;
}

.card {
  /* width: 200px;
  height: 200px; */

  width: 18.75rem;
  height: 28.125rem;
  float: left;
  perspective: 500px;
  border-radius: 5px;
  box-sizing: border-box;
}

.hcard {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 0rem;
  transform: rotate(270deg);

  /* height: 30rem;
  width: 20rem; */

  /* margin-top: 30rem; */
}

.content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

/* .hcontent {
  transform: rotate(270deg);
} */

.hcontent {
  width: 30rem;
  height: 20rem;
  border: 1px solid yellow;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: green;
  line-height: 300px;
  color: #03446a;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  border: 5px solid white;
}

.back {
  background: #03446a;
  color: gray;
  transform: rotateY(180deg);
}

@media (max-width: 48rem) {
  /* .gridbox {
    grid-template-columns: 1fr;
  } */

  .box {
    writing-mode: vertical-rl;
    /* text-orientation: mixed; */
    padding: 1rem;
  }

  .cards {
    justify-content: center;
  }
}
