body {
  font-family: "Nanum Myeongjo", serif;
  color: whitesmoke;
  font-size: 1.15rem;
  line-height: 2rem;
  background: linear-gradient(70deg, rgb(36, 11, 19), rgb(62, 18, 22));
  /* background-color: whitesmoke; */
}

.buttonholder {
  display: flex;
  width: 340px;
  margin-left: 0.5rem;
}

.helpoverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.helpdetails {
  position: fixed;
  width: 60%;
  top: 10rem;
  left: 20%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(246, 209, 164);
  z-index: 30;
  font-family: "Jost", sans-serif;
  color: rgb(22, 22, 22);
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.helpdetails ul {
  display: flex;
  list-style: none;
  /* flex-basis: 50%; */
  flex-basis: 2;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 0;
  justify-content: center;
}

.helpdetails li {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 1rem;
  flex-basis: 45%;
  gap: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin: 0;
  padding: 0;

  /* border: 1px solid black; */
}

.helpdetails li:nth-child(3),
.helpdetails li:nth-child(4),
.helpdetails li:nth-child(7),
.helpdetails li:nth-child(8),
.helpdetails li:nth-child(11),
.helpdetails li:nth-child(12) {
  background-color: rgb(241, 185, 117);
}

.helpdetails p {
  align-items: center;
  margin: 0;
  padding: 0.5rem;
}

.helpdetails p:first-of-type {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}
.playspace {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* justify-content: space-evenly; */
  /* gap: 1ch; */
  position: relative;
  margin: 0.25rem 1.25rem;
}

.card {
  border: 8px solid white;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 20 20 40 black;
  transition: none;
  transform: rotate(0deg);

  /* transition: 0.25s; */
  /* width: 0; */
  /* flex-basis: 100%; */
  /* flex-grow: 1; */
}

.nada {
  height: 100%;
  width: 100%;
  background-color: aqua;
  box-shadow: 10 10 20 pink;
  position: absolute;
  top: 20px;
  left: 20px;
}

.deckspace {
  height: 530px;
  width: 340px;
  border: 1px dashed rgb(246, 209, 164);
  border-radius: 15px;
  font-family: "Aboreto", cursive;
  font-size: 2rem;
  position: absolute;
  top: 6.375rem;
  left: 3.5rem;
  margin: 0 0;
}

/* .cardimage {
  width: 300px;
  background-image: url("./img/zhao.png");
  height: 500px;
  margin: 0;
  padding: 0;
} */

.cardface {
  background-image: url("../img/royalback-full.png");
  background-size: cover;
  height: 500px;
  width: 300px;
  margin: 0;
  padding: 0;
  background-color: blue;
  object-fit: cover;
  box-shadow: inset 20 20 40 black;
}

button {
  all: unset;
  margin: 0.1rem 0;
  text-align: center;
  background: linear-gradient(70deg, rgb(255, 228, 196), rgb(246, 209, 164));
  color: rgb(22, 22, 22);
  border-radius: 0.25ch;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 10rem;
  display: block;
  margin: 1rem 1rem;
}

.cardinfo {
  min-height: 200px;
  width: 350px;
  border: 1px dashed rgb(246, 209, 164);
  border-radius: 15px;
  font-family: "Aboreto", cursive;
  font-size: 2rem;
  background-color: antiquewhite;
  color: rgb(62, 18, 22);
}
.cardinfo h2 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Aboreto", cursive;
  margin: 0;
  padding: 0;
}

.cardinfo h3 {
  color: rgb(62, 18, 22);
  font-size: 1rem;
  text-align: center;
  font-family: "Aboreto", cursive;
  margin: 0;
  padding: 0;
}

.cardinfo p {
  color: rgb(62, 18, 22);
  font-size: 1rem;
  text-align: left;
  font-family: "Jost", sans-serif;
  color: rgb(22, 22, 22);
  margin: 0;
  padding: 0 2ch 2ch 2ch;
}

.spacer {
  height: 540px;
}

/* main {
  border: 1px solid red;
  position: relative;
} */

/*
.playcard {
  height: 550px;
  width: 350px;
  border: 1px dashed rgb(246, 209, 164);
  border-radius: 2rem;
  font-family: "Aboreto", cursive;
  font-size: 2rem;
  position: relative;
  margin: 0 auto;
}

.playcard h2 {
  margin: 0.5rem auto 0 auto;
  font-size: 1rem;
  text-align: center;
  color: rgb(246, 209, 164);
  width: 100%;
}

.flipspace {
  perspective: 1200px;
  height: 450px;
  width: 300px;
  margin-left: 20px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.cardface {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  border: 0.5rem solid white;
  box-sizing: border-box;
  border-radius: 2ch;
  box-shadow: 2px 4px 8px rgb(0, 0, 0);
  background-color: blanchedalmond;
}

.cardfront {
  transform: rotateY(180deg);
  background-color: whitesmoke;
}
.cardback {
  background-color: whitesmoke;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.cardmeaning {
  text-align: center;
  line-height: 3rem;
  margin-bottom: 1rem;
  height: 3rem;
  font-family: "Aboreto", cursive;
  font-size: 1.25rem;
  color: rgb(246, 209, 164);
}

.hidden {
  visibility: hidden;
}

.invert {
  rotate: 180deg;
}

#cardlist p {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0, 1rem;
  margin: 0;
}

.fauxcard {
  width: 100%;
  height: 100%;
}

.backdeck {
  position: absolute;
  top: 0px;
}

.l1 {
  z-index: -30;
}
.l2 {
  z-index: -40;
  rotate: 2deg;
}
.l3 {
  z-index: -50;
  rotate: -3deg;
}

.frozen {
  pointer-events: none;
}

.pivot-r {
  transition: transform 0.25s;
  transform: rotate(10deg);
}

.pivot-l {
  transition: transform 0.25s;
  transform: rotate(-10deg);
}

.flopback {
  transform: rotateY(-180deg) translateX(-800px);
  background-color: blueviolet;
}

.card.is-flopped {
  transform: rotateY(-180deg) translateX(-500px);
}

.pilefront {
  transform: rotateY(-180deg) translateX(-500px);
  background-color: blueviolet;
}

.vibrate {
  animation: shake-left-right 0.4s linear both;
}
@keyframes shake-left-right {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
} */
