* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nanum Myeongjo", serif;
  color: whitesmoke;
  font-size: 1.15rem;
  line-height: 1.75rem;
  background: linear-gradient(70deg, rgb(36, 11, 19), rgb(62, 18, 22));
  display: flex;
  flex-direction: column;
}

header {
  font-family: "Nanum Myeongjo", serif;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 60px;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  margin-bottom: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(22, 22, 22, 0.4);
  color: rgb(246, 209, 164);
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header li {
  padding-right: 10px;
  padding-left: 10px;

  margin-left: 20px;
}

header li:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

header .active {
  background-color: rgb(255, 255, 255, 0.2);
}

header a {
  text-decoration: none;
}

header a:visited {
  color: rgb(246, 209, 164);
}

header a {
  color: rgb(246, 209, 164);
}

main {
  display: grid;
  grid-template-columns: 12rem auto 12rem;
  margin: 0 2rem;
  box-sizing: border-box;

  /* margin-top: 4rem; */
  /* border: 2px solid yellow;
  background-color: gray; */
}

h1,
h2 {
  font-family: "Aboreto", cursive;
  color: whitesmoke;
}
h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

a {
  color: lightblue;
}

a:active {
  color: violet;
}

a:visited {
  color: skyblue;
}

.centercolumn {
  display: flex;
  flex-direction: column;
}

.hamburger {
  /* visibility: hidden; */
  display: none;
  cursor: pointer;
}
.menuburger {
  height: 2rem;
  width: 2rem;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  visibility: hidden;
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.trump-button {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  header {
    padding: 0;
    margin: 0;
  }
  header ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    padding: 1ch;
    left: calc(1rem);
    width: 20rem;
    flex-direction: column;
    background-color: rgb(62, 18, 22);
    z-index: 100;
    margin: 2rem 1rem 2rem 1rem;
  }
  header .active {
    background-color: rgb(255, 255, 255, 0.2);
  }
  main {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 20px auto;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 991.98px) {
  header li {
    font-size: 1rem;
    padding-right: 4px;
    padding-left: 4px;

    margin-left: 5px;
  }
}
